.map{
  border-radius: 15px;
  margin-left: 225px;
}


@media (max-width : 1024px) {

  .map{

    margin-left:-155px;
  }
}


@media (max-width : 1024px) {

  .map{

    margin-left:-155px;
  }
}
@media (max-width : 768px) {

  .map{

    margin-left:-287px;
  }
}
@media (max-width : 480px) {

  .map{

    margin-left:-435px;
  }
}

@media (max-width : 320px) {

  .map{

    margin-left:-515px;
  }
}
