.support
{
    margin: 0px 0px 0px 0px;
    font-family: 'Patron - PersonalUse';
    
}
.support_title
{
    display: flex;

}


.support_title_forms_name_guest
{
    margin:31px 0px 0px 96px;
    
}
.support_title_forms
{
    
    width: 531px;
}

.support_title_forms_name_map
{
    margin:31px 0px 0px 0px;
    
}

.request_input
{
    width: 280px;
    height: 50px;
    margin-left: 100px;
    margin-bottom: 20px;
    font-size: 12px;
    box-sizing: border-box;
    border-bottom: 2px solid #000000;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    font-weight: 100;
    padding-top: 31px;
    text-indent: 7px;
}

.email_distance
{
    margin-top: 19px;
}
::placeholder
{
    
    font-weight: 100;
    padding-top: 167px;
 
}

.request_input_letter
{
    width: 280px;
    height: 190px;
    margin-left: 100px;
    font-size: 12px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 15px;
    font-weight: 300;
    text-indent: 8px;
    
}

.button_apply
{
    background-color: white;
    margin-top: 17px;
    width: 280px;
    height: 60px;
    margin-left: 100px;
    font-size: 18px;
    padding: 0px;
    box-sizing: border-box;
    border-bottom: 2px solid #000000;
    border-radius: 15px;
    line-height: 29px;
    transition: all 0.3s ease;
  }

  .button_apply:hover
  {
    background: rgb(0, 0, 0);
    color: white;
  }



.support_title_forms_name_map
{
    text-align: left;
    padding-left: 15px;
    padding-bottom: 17px;

}
.support_title_forms_map
{
    padding-left: 76px;

}
.support_title_forms_name_map_image
{
    margin-top: -1px;
    border: 3px solid #000000;
    border-radius: 18px;
    
}