
@media (min-width : 1279px) {

  .support__wrap {
    display: flex;
    margin-top: 19px;
    margin-left: 115px;
}

}
@media (max-width : 1024px) {

  .support__wrap {
    margin-top: 19px;
    margin-left: 362px;

  }

}


