.products
{
    margin: 0px 0px 0px 0px;
    font-family: 'Patron - PersonalUse';
    margin-left: 20px;
}

.gadjet_name
{
    line-height: 41px;
    padding:30px 470px 0px 470px;
}

.iphone_choice
{
    display: flex;
    padding-left: 0px;
    padding-top: 30px;
}

.iphone_choice_prod
{
    height: 320px;
    display: inline-block;
	position: relative;    
	line-height: 0;
}

.one_iph:hover:after {
    content: "Apple\AiPhone 14,\A«тёмная ночь»";
	white-space: pre-wrap;
	top: 24%;
    left: 14%;
	color: white;
	line-height: 46.63px;
	position: absolute;
	font-size: 25px;
	text-align: center;
}

.one_iph_text
{
	font-size: 25px;
	line-height: 40.63px;
	text-align: center;
}

.one_iph:before {
	content: "";
	opacity: 0;    
	transition: opacity 0.3s;
}
.one_iph:hover:before {
	content: "";
	width: 100%;
	height: 100%;
	margin: 0px;  
	position: absolute;    
	background: rgba(142, 142, 142, 0.75);
    border-radius: 30px;
    opacity: 1;
    transition: opacity 0.3s;
    
}


.two_iph:hover:after {
    content: "Apple\APhone 13,\A«Синий»";
	white-space: pre-wrap;
	top: 24%;
    left: 16.3%;
	color: white;
	line-height: 46.63px;
	position: absolute;
	font-size: 25px;
	text-align: center;
}
.two_iph:before {
	content: "";
	opacity: 0;    
	transition: opacity 0.3s;
}
.two_iph:hover:before {
	content: "";
	width: 235px;
	height: 100%;
	margin: 0px;  
	position: absolute;    
	background: rgba(142, 142, 142, 0.75);
    border-radius: 30px;
    opacity: 1;
}


.three_iph:hover:after {
 
    content: "Apple\AiPhone 12,\A«Фиолетовый»";
	white-space: pre-wrap;
	top: 24%;
    right: 12.3%;
	color: white;
	line-height: 46.63px;
	position: absolute;
	font-size: 25px;
	text-align: center;
    
}
.three_iph:before {
	content: "";
	opacity: 0;    
	transition: opacity 0.3s;
}
.three_iph:hover:before {
	content: "";
	width: 235px;
	height: 100%;
	margin: 0px;  
	position: absolute;    
	background: rgba(142, 142, 142, 0.75);
    border-radius: 30px;
    opacity: 1;
}



.distance_iph2
{
	margin: 0px 21.2% 0px 20.5%;
}


 
.mac_choice
{
    display: flex;
    padding-left: 0px;
    padding-top: 30px;
}

.mac_choice_prod
{
    margin-left: 220px;
}

.macbook
{
    height: 170px;
    padding-bottom: 0%;
    padding-top: 62px;
    padding-right: 30px;
}

.imac
{
    height: 232px;
}



.mac_one:hover:after {
 
	content: "Apple MacBook\APro 16\A«серый космос»";
	white-space: pre-wrap;
	top: 1437px;
	left: 243px;
	color: white;
	line-height: 46.63px;
	position: absolute;
	font-size: 25px;
	text-align: center;
    
}
.mac_one:before {
	content: "";
	opacity: 0;    
	transition: opacity 0.3s;
}
.mac_one:hover:before {
	content: "";
	width: 275px;
	height: 170px;
	margin: 0px;  
	position: absolute;    
	background: rgba(142, 142, 142, 0.75);
    border-radius: 10px;
    opacity: 1;
}


.mac_two:hover:after {
 
	content: "Apple iMac\A 21,5 Retina 4K";
	white-space: pre-wrap;
	top: 1400px;
	left: 782px;
	color: white;
	line-height: 46.63px;
	position: absolute;
	font-size: 25px;
	text-align: center;
    
}

.mac_two:before {
	content: "";
	opacity: 0;    
	transition: opacity 0.3s;
}
.mac_two:hover:before {
	content: "";
	width: 275px;
	height: 232px;
	margin: 0px;  
	position: absolute;    
	background: rgba(142, 142, 142, 0.75);
    border-radius: 10px;
    opacity: 1;
}











